<a href="https://colab.research.google.com/github/benjuarez8/CS81C-Research-Bolivia/blob/main/cs81c_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports

In [1]:
pip install Unidecode

Collecting Unidecode
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 5.2 MB/s
Installing collected packages: Unidecode
Successfully installed Unidecode-1.3.4

In [2]:
import xgboost as xgb
import pandas as pd
import numpy as np
import csv
import math
from sklearn.neighbors import KNeighborsClassifier
from unidecode import unidecode

#Load Data

In [3]:
training_data = pd.read_csv("https://raw.githubusercontent.com/benjuarez8/Bolivia-SURF-2020/master/CS81C/training_data.csv")
training_data.rename( columns={"Unnamed: 0":"ID"}, inplace=True )
training_data.head()

   ID  Department   Turnout  MAS.vote Fraud.type
0   1  Chuquisaca  0.859405  0.486528      Clean
1   2  Chuquisaca  0.894904  0.403457      Clean
2   3  Chuquisaca  0.897040  0.359153      Clean
3   4  Chuquisaca  0.904918  0.848769         VS
4   5  Chuquisaca  0.878844  0.428678      Clean

In [4]:
testing_data = pd.read_csv("https://raw.githubusercontent.com/benjuarez8/Bolivia-SURF-2020/master/CS81C/testing_data.csv")
testing_data.rename( columns={"Unnamed: 0":"ID"}, inplace=True )
testing_data.head()

,ID,Department,Municipality,Precinct,Turnout,MAS.vote
0,1,Chuquisaca,Sucre,Escuela Seccional De Chaunaca,0.863,0.789
1,2,Chuquisaca,Sucre,Unidad Educativa Chuqui Chuqui,0.869,0.702
2,3,Chuquisaca,Sucre,Unidad Educativa Chuqui Chuqui,0.892,0.686
3,4,Chuquisaca,Sucre,Escuela Fray Gabriel Maria Landini,0.822,0.778
4,5,Chuquisaca,Sucre,Escuela Fray Gabriel Maria Landini,0.847,0.729

#Data Processing

In [5]:
training_data["Fraud_num"] = [ -1 if type == "VS" else 1 if type == "BBS" else 0 for type in training_data["Fraud.type"] ]

In [6]:
training_departments = training_data["Department"].str.get_dummies()
training_data = pd.concat([training_data, training_departments], axis=1)
testing_departments = testing_data["Department"].str.get_dummies()
testing_data = pd.concat([testing_data, testing_departments], axis=1)
testing_data.rename( columns={"Potosí":unidecode("Potosí")}, inplace=True)

In [7]:
train_labels = training_data["Fraud_num"]
train = training_data[["Beni", "Chuquisaca", "Cochabamba", "La Paz", "Oruro", "Pando", "Potosi", "Santa Cruz", "Tarija", "Turnout", "MAS.vote"]]
test = testing_data[["Beni", "Chuquisaca", "Cochabamba", "La Paz", "Oruro", "Pando", "Potosi", "Santa Cruz", "Tarija", "Turnout", "MAS.vote"]]

In [8]:
X_train = np.array(train)
y_train = np.array(train_labels)
X_test = np.array(test)

#K Nearest Neighbors (KNN)

In [9]:
seed = 8
# model = KNeighborsClassifier(n_neighbors = 4)
model = KNeighborsClassifier()
model.fit(X_train, y_train)
print(model)

KNeighborsClassifier()

In [10]:
y_pred = model.predict(X_test)

In [11]:
test["Pred_Fraud_num"] = y_pred.tolist()
test["Pred_Fraud_type"] = [ "VS" if type == -1 else "BBS" if type == 1 else "Clean" for type in test["Pred_Fraud_num"] ]
test["Department"] = testing_data["Department"]
test["Precinct"] = testing_data["Precinct"]
test["Municipality"] = testing_data["Municipality"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
test.to_csv("knn_results.csv", index=False)

#Results

In [14]:
col_names = ["Clean", "At_Risk", "BBS_Risk", "VS_Risk", "Avg_Turnout", "Avg_MAS_vote"]
results = pd.DataFrame(columns = col_names)
counts = test.Pred_Fraud_type.value_counts()
clean = counts[0] / (counts[0] + counts[1] + counts[2])
tot_risk = (counts[1] + counts[2]) / (counts[0] + counts[1] + counts[2])
bbs = counts[1] / (counts[0] + counts[1] + counts[2])
vs = counts[2] / (counts[0] + counts[1] + counts[2])
avg_turnout = test["Turnout"].mean()
avg_vote = test["MAS.vote"].mean()
results.loc[len(results)] = [round(100*clean,2), round(100*tot_risk,2), round(100*bbs,2), round(100*vs,2), round(100*avg_turnout,2), round(avg_vote,2)]

In [15]:
results.to_csv("knn_tot_results.csv", index=False)
results

   Clean  At_Risk  BBS_Risk  VS_Risk  Avg_Turnout  Avg_MAS_vote
0  86.27    13.73       8.6     5.13         89.8          0.46

In [16]:
col_names = ["Department", "Clean", "At_Risk", "BBS_Risk", "VS_Risk", "Avg_Turnout", "Avg_MAS_vote"]
knn_dep_results = pd.DataFrame(columns = col_names)
for dep in test["Department"].unique():
    vars()[dep] = test[test["Department"] == dep].Pred_Fraud_type.value_counts()
    counts = test[test["Department"] == dep].Pred_Fraud_type.value_counts()
    clean = counts[0] / (counts[0] + counts[1] + counts[2])
    tot_risk = (counts[1] + counts[2]) / (counts[0] + counts[1] + counts[2])
    bbs = counts[1] / (counts[0] + counts[1] + counts[2])
    vs = counts[2] / (counts[0] + counts[1] + counts[2])
    avg_turnout = test[test["Department"] == dep]["Turnout"].mean()
    avg_vote = test[test["Department"] == dep]["MAS.vote"].mean()
    knn_dep_results.loc[len(knn_dep_results)] = [dep, round(100*clean,2), round(100*tot_risk,2), round(100*bbs,2), round(100*vs,2), round(100*avg_turnout,2), round(avg_vote,2)]
knn_dep_results = knn_dep_results.sort_values(by = "Clean")
knn_dep_results.reset_index(drop=True, inplace=True)

In [17]:
knn_dep_results.to_csv("knn_dep_results.csv", index=False)
knn_dep_results

   Department  Clean  At_Risk  BBS_Risk  VS_Risk  Avg_Turnout  Avg_MAS_vote
0  Cochabamba  79.08    20.92     12.15     8.77        90.28          0.57
1      Potosí  83.31    16.69     10.21     6.48        88.87          0.46
2  Santa Cruz  85.98    14.02     11.70     2.31        88.83          0.34
3      La Paz  88.76    11.24      7.38     3.86        91.75          0.53
4       Oruro  89.18    10.82      8.54     2.28        91.09          0.47
5        Beni  90.21     9.79      6.90     2.89        86.17          0.34
6  Chuquisaca  90.75     9.25      5.96     3.29        88.41          0.40
7      Tarija  93.17     6.83      3.85     2.98        87.26          0.39
8       Pando  94.27     5.73      4.20     1.53        84.31          0.43

In [20]:
col_names = ["Municipality", "Department", "Clean", "At_Risk", "BBS_Risk", "VS_Risk", "Avg_Turnout", "Avg_MAS_vote"]
knn_municip_results = pd.DataFrame(columns = col_names)
for municip in test["Municipality"].unique():
  dep = test.loc[test["Municipality"] == municip]["Department"].iloc[0]
  counts = test[test["Municipality"] == municip].Pred_Fraud_type.value_counts()
  if (len(counts) > 2):
    clean = counts[0] / (counts[0] + counts[1] + counts[2])
    tot_risk = (counts[1] + counts[2]) / (counts[0] + counts[1] + counts[2])
    bbs = counts[1] / (counts[0] + counts[1] + counts[2])
    vs = counts[2] / (counts[0] + counts[1] + counts[2])
    avg_turnout = test[test["Municipality"] == municip]["Turnout"].mean()
    avg_vote = test[test["Municipality"] == municip]["MAS.vote"].mean()
    knn_municip_results.loc[len(knn_municip_results)] = [municip, dep, round(100*clean,2), round(100*tot_risk,2), round(100*bbs,2), round(100*vs,2), round(100*avg_turnout,2), round(avg_vote,2)]
knn_municip_results = knn_municip_results.sort_values(by = "Clean")
knn_municip_results.reset_index(drop=True, inplace=True)

In [21]:
knn_municip_results.to_csv("knn_municip_results.csv", index=False)
knn_municip_results

,Municipality,Department,Clean,At_Risk,BBS_Risk,VS_Risk,Avg_Turnout,Avg_MAS_vote
0,Chacarilla,La Paz,33.33,66.67,33.33,33.33,90.33,0.81
1,Caripuyo,Potosí,38.46,61.54,30.77,30.77,90.48,0.84
2,San Julian,Santa Cruz,39.45,60.55,33.03,27.52,90.24,0.69
3,Pojo,Cochabamba,42.86,57.14,28.57,28.57,92.67,0.88
4,Chayanta,Potosí,43.33,56.67,40.00,16.67,91.88,0.76
...,...,...,...,...,...,...,...,...
131,Tupiza,Potosí,94.55,5.45,4.55,0.91,87.35,0.56
132,Bermejo,Tarija,95.16,4.84,3.23,1.61,84.90,0.45
133,Nuestra Señora de La Paz,La Paz,96.24,3.76,3.30,0.46,91.00,0.40
134,Villa Montes,Tarija,96.80,3.20,2.40,0.80,86.78,0.39
135,Villazón,Potosí,97.27,2.73,1.82,0.91,82.38,0.65